.text-hel-38 {
  font-family: "Helvetica";
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.text-hel-26 {
  font-family: "Helvetica";
  font-size: 26px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.text-hakgyo-b-28 {
  font-family: "Hakgyo";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-hakgyo-b-24 {
  font-family: "Hakgyo";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-hakgyo-b-20 {
  font-family: "Hakgyo";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-hakgyo-b-17 {
  font-family: "Hakgyo";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-hakgyo-r-16 {
  font-family: "Hakgyo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-hakgyo-r-14 {
  font-family: "Hakgyo";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-wanted-sb-15 {
  font-family: "WantedSans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-wanted-sb-13 {
  font-family: "WantedSans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-wanted-sb-12 {
  font-family: "WantedSans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-wanted-sb-10 {
  font-family: "WantedSans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
