@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

/* === Font Face: Helvetica === */
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-BoldOblique.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* === Font Face: Hakgyo === */
@font-face {
  font-family: "Hakgyo";
  src: url("/fonts/HakgyoansimBareondotumR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hakgyo";
  src: url("/fonts/HakgyoansimBareondotumB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === Font Face: WantedSans === */
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === Font Face: IBM === */
@font-face {
  font-family: "IBM";
  src: url("/fonts/IBMPlexSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  a,
  li,
  input,
  button,
  label,
  textarea,
  hr {
    margin: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
